<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    <meta charset="UTF-8">
    <title data-meta-dynamic="true">Банк</title>
    <meta property="og:title" content="Банк" data-meta-dynamic="true">
    <meta property="og:description" content="Банк" data-meta-dynamic="true">
    <meta property="og:site_name" content="Банк" data-meta-dynamic="true">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div class="app-class">
        <div class="header mb-20">
            <a href="/" class="logo" style="font-weight: 600;">
                Банк</a>
            <a href="/api/user" class="button blue-button">Личный кабинет</a>
        </div>
        <div class="main flex-col">
            <div class="flex-col mb-20">
                <div style="max-width: 912px">
                    <h1 class="center">
                        <p>Дебетовая карта</p>
                    </h1>
                    <strong class="center">
                        <p>0 руб. обслуживание, 0 руб. снятие наличных, до 40%
                            кэшбэка</p>
                    </strong>
                </div>
                <a class="button button-primary">
                    <span style="color: white !important">Оформить
                        карту</span>
                </a>
            </div>

            <h2 style="text-align: center">Сервисы и услуги</h2>

            <div class="flex-row justify-between">
                <div class="card flex-col">
                    <h3 class="center card-header">Инвестиции</h3>
                    <div class="center">
                        <p>Покупайте акции, облигации и другие ценные бумаги выгодно с
                            помощью сервисов Банк</p>
                    </div>
                    <a href="#" class="text-primary">
                        Смотреть
                    </a>
                </div>
                <div class="card flex-col">
                    <h3 class="center card-header">Снятие наличных</h3>
                    <div class="center">
                        <p>Бесплатно снимайте наличные во всех банкоматах Банк</p>
                    </div>
                    <a href="#" class="text-primary">
                        Найти банкомат
                    </a>
                </div>

                <div class="card flex-col">
                    <h3 class="center card-header">Переводы и пополнения</h3>
                    <div class="center">
                        <p>Бесплатные переводы с карты на карту и на счета Банка</p>
                    </div>
                    <a href="#" class="text-primary">
                        Пополнить или перевести
                    </a>
                </div>

            </div>
            <h2 class="center">
                <p>Дополнительно</p>
            </h2>
            <div class="flex-row">
                <div class="card flex-col">
                    <h3 class="center card-header">Помощь</h3>
                    <div class="center">
                        <p>Отвечаем на вопросы по всем продуктам</p>
                    </div>
                    <a href="#" class="text-primary">
                        Подробнее
                    </a>
                </div>
                
                <div class="card flex-col">
                    <h3 class="center card-header">Отзывы</h3>
                    <div class="center">
                        <p>Пользователи выбирают Банк. Станьте и Вы нашим клиентом</p>
                    </div>
                    <a href="#" class="text-primary">
                        Подробнее
                    </a>
                </div>
                
                <div class="card flex-col">
                    <h3 class="center card-header">Работа</h3>
                    <div class="center">
                        <p>Актуальные вакансии и стажировки в Банк. Для отправки резюме используйте email-адрес: <a href="mailto:admin@example.com">admin@example.com</a></p>
                    </div>
                    <a href="#" class="text-primary">
                        Подробнее
                    </a>
                </div>
                
            </div>
        </div>

        <footer class="footer">
            <p>© itsstaace. Все права защищены.</p>
        </footer>
    </div>


</body>

</html>