<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>
    <meta charset="UTF-8">
    <title data-meta-dynamic="true">Банк</title>
    <meta property="og:title" content="Банк" data-meta-dynamic="true">
    <meta property="og:description" content="Банк" data-meta-dynamic="true">
    <meta property="og:site_name" content="Банк" data-meta-dynamic="true">
    <!-- <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
<div class="app-class">
    <div class="header mb-20">
        <a href="/" class="logo" style="font-weight: 600;">
            Банк</a>
        <a href="/api/user" class="button blue-button">Личный кабинет</a>
    </div>


    <div class="card w-50 self-center">
        <h2 class="center mb-40">
            <p>Вход в личный кабинет</p>
        </h2>
        <form action="/api/login" method="post" class="flex-col">
            <input type="text" name="username" id="username" required="true" placeholder="Имя пользователя" autocomplete="off">
            <input type="password" name="password" id="password" required="true" placeholder="Пароль" autocomplete="off">
            {% if error != None: %}
            <div style="color: red; text-align: center;">{{error}}</div>
            {% endif %}
            <div style="display: flex; flex-direction: row; justify-content: space-between; width: 80%; align-items: center;">
                <input type="submit" class="button button-primary" value="Войти">
                <a href="/api/register" class="button blue-button">Регистрация</a>
            </div>
        </form>
    </div>


    <footer class="footer">
        <p>© itsstaace. Все права защищены.</p>
    </footer>
</div>


</body>

</html>