<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Опрос</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div class="container">
        <div style="text-align: center;">
            <h1>Опрос</h1>
        </div>
        <button id="redirectButton" type="submit">Пройти опрос</button>
    </div>
</body>
</html>